* {
	font-family: 'Roboto', sans-serif;
}
#block-1 {
	padding: 20px;
	width: 50%;
	height: auto;
	display: flex;
}
#add:hover {
	background-color: #BACAD9;
}
#remove:hover {
	background-color: #BACAD9;
}
#elem {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	height: 150px;
	overflow-y: scroll;
}